<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<head>
    <title>Archiver</title>
</head>

<body>
    <h1>Archiver</h1>
    This is the homepage of the Archiver webapp.
    <h2>Logs</h2>
    <table>
        <thead>
            <tr>
                <th class="row-timestamp">Timestamp</th>
                <th class="row-logger">Logger Name</th>
                <th class="row-level">Logging Level</th>
                <th class="row-message">Messages</th>
            </tr>
        </thead>
        <tbody>
            {% for timestamp, logger, level, message in data %}
            <tr>
                <td>{{timestamp}}</td>
                <td>{{logger}}</td>
                <td>{{level}}</td>
                <td>{{message}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>